<div class="container">
  <div class="row">
    <div class="col">
      {{#each products}}
        <div class="card mb-4">
          <div class="row no-gutters">

            <!-- Product Details -->
            <div class="col-md-8">
              <div class="card-body">
                <h5 class="card-title">{{this.productId.title}}</h5>
                <p class="card-text">{{this.productId.description}}</p>
                <div class="row">
                  <div class="col">
                      <p class="card-text">Price: ${{this.productId.price}}</p>
                  </div>
                  <div class="col">
                      <p class="card-text">Code: {{this.productId.code}}</p>
                  </div>
                </div>
                <div class="row">
                  <div class="col">
                      <p class="card-text">Stock: {{this.productId.stock}}</p>
                  </div>
                  <div class="col">
                      <p class="card-text">Category: {{this.productId.category}}</p>
                  </div>
                </div>
              </div>
            </div>

            <!-- Quantity -->
            <div class="col-md-4 d-flex align-items-center justify-content-center">
                <h4>{{this.quantity}}</h4>
            </div>

          </div>
        </div>
      {{/each}}
    </div>
  </div>
</div>
