<div class="container">
  <div class="row">
    <div class="col">
      {{#each docs}}
          <div class="card">
            <div class="card-body">
                <h5 class="card-title">{{this.title}}</h5>
                <p class="card-text">{{this.description}}</p>
                <div class="row">
                  <div class="col">
                      <p class="card-text">Price: ${{this.price}}</p>
                  </div>
                  <div class="col">
                      <p class="card-text">Code: {{this.code}}</p>
                  </div>
                </div>
                <div class="row">
                  <div class="col">
                      <p class="card-text">Stock: {{this.stock}}</p>
                  </div>
                  <div class="col">
                      <p class="card-text">Category: {{this.category}}</p>
                  </div>
                </div>
            </div>
          </div>
      {{/each}}
    </div>
  </div>

  <div class="row mt-4">
    <div class="col text-center">
      {{#if hasPrevPage}}
          {{#if query}}
              <a href="/?page={{prevPage}}&limit={{limit}}&sort={{sort}}&query={{query}}" class="btn btn-primary">Prev Page</a>
          {{else}}
              <a href="/?page={{prevPage}}&limit={{limit}}&sort={{sort}}" class="btn btn-primary">Prev Page</a>
          {{/if}}
      {{/if}}

      <span class="mx-4">{{page}}/{{totalPages}}</span>
      
      {{#if hasNextPage}}
          {{#if query}}
              <a href="/?page={{nextPage}}&limit={{limit}}&sort={{sort}}&query={{query}}" class="btn btn-primary">Next Page</a>
          {{else}}
              <a href="/?page={{nextPage}}&limit={{limit}}&sort={{sort}}" class="btn btn-primary">Next Page</a>
          {{/if}}
      {{/if}}
    </div>
  </div>
</div>
