<div>
    <h4>This is Index</h4>
    <h6>with the list of Products</h6>
    <ul>
        {{#each products}}
        <li>
            <h6>{{title}}</h6>
            <p>ID: {{_id}}</p>
            <p>Description: {{description}}</p>
            <p>Stock: {{stock}}</p>
            <p>Code: {{code}}</p>
            <p>Category {{category}}</p>
            <p>Price: {{price}}</p>
            <p>Status: {{status}}</p>
        </li>
        {{/each}}
    </ul>
</div>