<div>
    <h4>Products</h4>
        <h6 style="color:blue">Bienvenido {{firstName}} {{lastName}} -{{role}}-</h6>
        <a href="/api/sessions/logout"> Log Out </a>
    <ul>
        {{#each products}}
        <li>
            <h6>Title: {{this.title}}</h6>
            <p>ID: {{this._id}}</p>
            <p>Description: {{this.description}}</p>
            <p>Stock: {{this.stock}}</p>
            <p>Code: {{this.code}}</p>
            <p>Category {{this.category}}</p>
            <p>Price: {{this.price}}</p>
            <p>Status: {{this.status}}</p>
        </li>
        {{/each}}
    </ul>

    <div>
        {{#if hasPrevPage}}
        <a href="/products?limit={{limit}}&page={{prevPage}}">Prev</a>
        {{/if}}
        {{#if hasNextPage}}
        <a href="/products?limit={{limit}}&page={{nextPage}}">Next</a>
        {{/if}}
    </div>

    <div>
        <button>Add to cart</button>
    </div>
</div>