<div class="container-fluid bg-light py-2 mb-4">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <a href="/" class="text-decoration-none text-dark"> 
                  <h3>Rworld Store!</h3>  
                </a>
            </div>
            <div class="col-md-1 text-right">
                <a href="/my-cart">My Cart</a>
            </div>
            <div class="col-md-3 text-left">
                {{#if user}}
                    <span class="mr-3">Logged in as <a href="/profile">{{user.firstName}} {{user.lastName}}</a></span>
                {{else}}
                    <a href="/auth/login" class="btn btn-primary mr-2">Log In</a>
                    <a href="/auth/register" class="btn btn-success">Sign Up</a>
                {{/if}}
            </div>
        </div>
    </div>
</div>

{{#if error}}
<div class="alert alert-danger mx-5">{{error}}</div>
{{/if}}

{{#if message}}
<div class="alert alert-info mx-5">{{message}}</div>
{{/if}}

<div class="container">
    <div class="row justify-content-center mt-5">
        <div class="col-md-6">
            <div class="card">
                <div class="card-body">

                    <h2 class="text-center mb-4">Welcome, {{user.firstName}} {{user.lastName}}!</h2>

                    <ul class="list-group list-group-flush mb-4">
                        <li class="list-group-item">
                            <strong>Email:</strong> {{user.email}}
                        </li>
                        <li class="list-group-item">
                            <strong>Age:</strong> {{user.age}}
                        </li>
                        <li class="list-group-item">
                            <strong>Role:</strong> {{user.role}}
                        </li>
                    </ul>

                    <a href="/auth/logout" id="logout-button" class="btn btn-danger btn-block">Logout</a>
                </div>
            </div>
        </div>
    </div>
</div>
